* {
    box-sizing: border-box;
}
.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 50px;
}
.menu li {
    margin: 20px;
}
.container {
    text-align: center;
}

#outerHeader {
    display: inline-block;
    border: solid black;
    width: 40%;
    padding: 30px;
    margin-bottom: 20px;
}
#innerHeader {
    border: solid black;
    padding: 50px;
}

#aboutMePage {
    border: solid black;
}
#portfolioPage {
    border: solid black;
}
.projectLinks {
    padding-left: 0;
    list-style: none;
}
.projectLinks li {
    display: inline-block;
}
#contactPage {
    border: solid black;
}
.contacts {
    padding-left: 0;
    list-style: none;
}
